
body{
    display: grid;
    place-content: center;
}


.parent{
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:10px ;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
}

.child{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

h1{
    text-align: center;
}